<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Fragment</title>
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">

</head>
<body>
<script src="/js/home.js">
</script>
<div id="main">
    <div id="header" th:fragment="navbar">
        <ul id="nav">
            <li><a th:href="@{/home}">Tin tức</a></li>
            <li th:if="${#lists.contains(roles, 'ROLE_Khoa')}" class="dropdown">
                <a href="javascript:void(0)">Quản lý</a>
                <div class="dropdown-content">
                    <div class="dropdown-subnav">
                        <a href="javascript:void(0)">Quản lý sinh viên</a>
                        <div class="dropdown-subnav-content">
                            <!-- Subnav của Quản lý sinh viên -->
                            <a th:href="@{/khoa/upload}">Thêm danh sách</a>
                            <a th:href="@{/khoa/upload-success}">Danh sách xác nhận</a>
                            <!-- Thêm các mục khác tại đây nếu cần -->
                        </div>
                    </div>
                    <a th:href="@{/khoa}">Quản lý bộ môn</a>
                    <a th:href="@{/khoa/TimePhase}">Thiết lập</a>
                    <!-- More subnav items -->
                </div>
            </li>
            <li th:if="${#lists.contains(roles, 'ROLE_BoMon')}" class="dropdown">
                <a href="javascript:void(0)">Quản lý</a>
                <div class="dropdown-content">
                    <div class="dropdown-subnav">
                        <a th:href="@{/bo-mon/register}">Đăng ký giảng viên</a>
                        <a th:href="@{/bo-mon}">Quản lý giảng viên</a>
                    </div>
                    <!-- Các mục menu khác của ROLE_BoMon -->
                </div>
            </li>

            <li th:if="${#lists.contains(roles, 'ROLE_GiangVien')}"><a th:href="@{/students}">Quản lý</a></li>
            <li><a th:href="@{'/notify/' + ${accountId}}">Thông báo</a></li>
        </ul>
        <!-- Begin: Account button-->
        <div class="Account-btn">
            <!-- <i class="Account-icon ti-face-smile"></i> -->
            <p style=" display: inline-block; color: white; margin-top: 6px;"
            >Khoa điện tử viễn thông</p>
            <img src="/assets/img/avatar2.png" class="avatar-img" style="height: 40px; display: inline-block;">
        </div>
        <!-- End: Account Button-->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.1.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>