* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #083761;
}

html, body, p, h1, h2, h3, h4, h5, h6, div {
    /*font-family: 'Montserrat', sans-serif !important;*/
    font-family: 'Poppins', sans-serif !important;
}


.clear {
    clear: both;
}


.text-white {
    color: white !important;
}


#main  {
    background-color: #F3F3F3;
    height: 90vh;
}

#header {
    height: 56px;
    background-color: #083761;
    font-size: medium;
    border-radius: 3px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;

}

#nav {
    padding-top: 15px;
    display: flex;
    align-items: center;
    float: left;
}
#nav > .logo {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
}
#nav > li {
    display: inline-block;
    position: relative;

}

#nav > li > a {
    color: white;
}

#nav li a {
    text-decoration: none;
    line-height: 40px;
    padding: 0 24px;
    display: block;

}

#nav > li:hover {
    background-color: rgba(29,142,208,.08);;
    border-radius: 4px;


}

#nav li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:3px;
    border-top: solid 4px deepskyblue;
    z-index: 100;
}

#nav > li:hover .dropdown-content {
    display: block;
}

#nav li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-radius: 3px;
    text-decoration: none;
    display: block;
}

#nav li .dropdown-content a:hover {
    background-color: #ddd;
}

/* Style cho dropdown-subnav để định vị subnav */
.dropdown-subnav {
    position: relative;
}

/* Style cho dropdown-subnav-content */
.dropdown-subnav-content {
    border-top: solid 4px deepskyblue;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 220px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
}

.dropdown-subnav:hover .dropdown-subnav-content {
    display: block;
    border-radius: 3px;
}


#header .Account-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}

#header .Account-btn:hover {
    background-color: rgba(29,142,208,.08);;
    border-radius: 10px;
}

#header .Account-btn .ti-angle-up,
#header .Account-btn .ti-angle-down {
    animation-duration: 1s;
    animation-fill-mode: both;
}

#header .Account-btn .ti-angle-up {
    display: none;
}
.avatar-container {
    position: relative;
    display: block; /* hoặc 'block' tùy thuộc vào cách bạn muốn sắp xếp */
}
.Account-btn .account-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 175px;
    width: 260px;
    transform: translateX(-80%);
    border-radius: 3px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
}
.menu-header {
    display: flex;
    align-items: center;
    border-bottom: solid 2px;
}


.menu-header .menu-avatar {
    margin-right: 10px;
}

.content-menu a {
    display: block;
    margin-top: 10px;
    padding: 10px; /* Điều chỉnh đệm cho phù hợp */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    color: #000000; /* Màu chữ ban đầu */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển tiếp mượt mà */
}

.content-menu a:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}
/* CSS cho nút Sign Out */
.content-menu form input[type="submit"] {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.content-menu form input[type="submit"]:hover {
    background-color: #3494d4;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


#content {
    margin: 56px 10px 0 10px;
}

#currentNav {
    padding: 10px;

}
#content .main-page {
    background-color: white;
    padding: 16px;
    min-height: 80vh;
    border-radius: 10px;
    overflow: auto;
}

.main-page .header-section {
    margin: 10px;
}

.main-page .content-section {
    margin: 10px;
}




table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    table-layout: fixed;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #083761;
    color: white;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #F3F3F3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #083761;
}

.sticky-col {
    position: sticky;
    z-index: 1;
}

table thead th.sticky-col {
    background-color: #083761;
}

table tbody td.sticky-col {
    background-color: white;
    left: 0;
}

.sticky-col.first {
    left: 0;
}

.sticky-col.second {
    left: 100px;
}

.sticky-col.third {
    right: 0;
}

/* Cho phép cuộn ngang cho bảng */
.table-container {
    overflow-x: auto;
    max-width: 100%;
}
.custom-size-sm {
    width: 100px;
}

.custom-size {
    width: 150px;
    text-overflow: ellipsis; /* Hiển thị dấu ... nếu nội dung quá dài */
    overflow: hidden; /* Ẩn nội dung chảy ra ngoài */

}

.custom-size-lg {
    width: 200px;
}

.add-icon {
    display: inline-block;
    text-rendering: auto;
}

.function-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.function-container form, .Add-new-section {
    flex: 1;
    margin: 5px;
}

.function-container input[type="submit"] {
    background-color: #17a2b8;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.function-container input[type="submit"]:hover {
    background-color: #4481eb;
}

.function-container form select {
    padding: 5px 10px; /* Gán giá trị padding */
    border-radius: 8px; /* Gán giá trị border-radius */
    border: 1px solid #ccc; /* Gán một border mỏng, bạn có thể điều chỉnh màu sắc nếu cần */
    outline: none; /* Tùy chọn: loại bỏ đường viền mặc định khi focus */
}
.function-container select:focus {
    border-color: #17a2b8;
    box-shadow: 0 0 3px #17a2b8;
}
.name-header {
    display: flex;
}
.name-header .divider {
    flex-grow: 1;
    height: 1px;
    background-color: #17a2b8;
    margin: 0 10px;
}
.listTable, .phaseContent {
    flex-shrink: 0;
}



.Add-new-section .btn-add-new {
    padding:12px 10px;
    line-height: 15px;
    border-radius: 8px;
    border: #17a2b8;
    background-color: #17a2b8;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    float: right;
}
.btn-add-new:focus {
    outline: none;
    box-shadow: none;
}
.Add-new-section .btn-add-new:hover {
    background-color: #3494d4;
}

.form-control {
    height: 32px;
    width: 100%;
    line-height: 32px;
    padding: 4px 6px;
    border: 1px solid #ced4da;
    box-shadow: none;
    color: #083761;
}

.CsvAndSend {
    padding-top: 10px;
}
.CsvAndSend .button-csv {
    margin-left: 12px;
    padding: 10px 15px;
    color: #fff;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.CsvAndSend .button-csv:hover {
    background-color: #3494d4;
}

.CsvAndSend .button-send {
    margin-left: 12px;
    padding: 10px 30px;
    color: #fff;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.CsvAndSend .button-send:hover {
    background-color: #3494d4;
}

.GiangVienDoAn {
    border: 1px solid rgba(29,142,208,.5);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: .5rem;
    cursor: pointer;
    transition: transform .2s;
}

.GiangVienDoAn:hover {
    box-shadow: 0 10px 10px -10px #00000080;
}

.GiangVienDoAn .Title-Topic {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.GiangVienDoAn .Name-lecture {
}

.BoMonList {
    border: 1px solid rgba(29,142,208,.5);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: .5rem;
    cursor: pointer;
    transition: transform .2s;
}

.BoMonList:hover {
    box-shadow: 0 10px 10px -10px #00000080;
}

.BoMonList .Title-Topic {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.BoMonList .Name-lecture {
}


.listMessage {
    list-style-type: none;
    padding-left: 0;
}
/*css cho news*/
.listNews {
    list-style-type: none;
    padding-left: 0;
}
.NewsItem {
    border: 1px solid rgba(29,142,208,.5);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: .5rem;
    cursor: pointer;
    transition: transform .2s;
}

.NewsItem:hover {
    box-shadow: 0 10px 10px -10px #00000080;
}

.NewsItem .Title-News {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.NewsItem .Content-News {
}
/*kết thúc css cho news*/


#currentNav, #listTable, table td{
    color: #083761;
}


#currentNav {
    font-size: 22px;
    font-weight: bold;
}

.listTable {
    font-weight: bold;
    color: #083761;
}

.disabled-link {
    pointer-events: none;
    cursor: default;
    color: gray;
}

.file-section {
    padding: .5rem;
    border: 1px solid #B3B3B3;
}

.file-section .title-file-section {
    border-bottom: 1px solid #B3B3B3;
}

.file-section .content-file-section {
    border: 1px solid #B3B3B3;
}

/*Css cho form upload file*/
#uploadForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#uploadForm .form-group {
    margin-bottom: 15px;
}

#uploadForm .form-group label {
    display: block;
    margin-bottom: 5px;
}

#uploadForm .form-group input[type="file"],
#uploadForm .form-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#uploadForm .form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#uploadForm .form-group button[type="submit"]:hover {
    background-color: #0056b3;
}

.button-submit-confirm {
    display: inline-flex; /* Sử dụng flexbox */
    justify-content: space-between; /* Khoảng cách giữa các nút */
    align-items: center; /* Căn giữa các nút theo chiều dọc */
    margin-bottom: 10px;
}

.button-submit-confirm form {
    margin: 0;
}

.button-submit-confirm button {
    width: 110px;
    flex-grow: 1;
    border-radius: 4px;
    margin-right: 10px;
}



#studentsTable .datatable {
    transition: opacity 0.3s ease;
}

#studentsTable .datatable:hover {
    opacity: 0.8;
}

/*css form đăng ký*/
.signup-form-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.signup-form-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

/* Các quy tắc CSS khác cho form và các thành phần bên trong */

.signup-form-container .signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form-container .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup-form-container .form-group {
    margin-bottom: 15px;
}

.signup-form-container .signup-form input[type="text"],
.signup-form-container .signup-form input[type="password"],
.signup-form-container .signup-form input[type="number"],
.signup-form-container .signup-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.signup-form-container .signup-form input[type="text"]:focus,
.signup-form-container .signup-form input[type="password"]:focus,
.signup-form-container .signup-form input[type="number"]:focus,
.signup-form-container .signup-form select:focus {
    outline: none;
    border-color: #007bff;
}

.signup-form-container .submit-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form-container .submit-btn:hover {
    background-color: #0056b3;
}

.signup-form-container .error-message {
    color: red;
    font-size: 0.8em;
}

/*css cho suggest list lecturer*/
.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 150px;
    background-color: #fff;
    z-index: 10;
}

.suggestions-list li {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/*css cho form time phase*/
.form-time-phase {
    max-width: 400px; /
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

/* Định dạng cho nhãn (label) */
.form-time-phase label {
    font-weight: bold;
}

/* Định dạng cho input */
.form-time-phase input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Định dạng cho nút Lưu */
.form-time-phase button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Định dạng cho nút Lưu khi hover */
.form-time-phase button[type="submit"]:hover {
    background-color: #0056b3;
}




