<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">


</head>
<body>
<script src="/js/home.js">
</script>
<div id="main">
    <!-- Include Navbar Fragment -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div id = "content">
        <div id="currentNav"></div>
        <div class="main-page">
            <div class="header-section">
                <div class="phaseContent">
                    <p th:text="'Phase hiện tại: ' + ${showColumn}"></p>
                    <div class="vertical-line"></div>
                </div>
                <div class="name-header">
                    <p class="listTable">Danh sách Sinh Viên</p>
                </div>

                <div class="Add-new-section">
                    <a href="/bo-mon" class="btn btn-primary">Quay về</a>
                </div>

            </div>
            <div class="content-section">

                    <table id="studentsTable">
                        <thead>
                        <tr>
                            <th>MSV</th>
                            <th>Họ và tên</th>
                            <th>Ngày sinh</th>
                            <th>ĐTBC/TC học lại</th>
                            <th>Đề Tài</th>
                            <th th:if="${showColumn == 'Phase2' || showColumn == 'Phase3'}" >Đề tài mới</th>
                            <th>Cán bộ hướng dẫn</th>
                            <th>Nơi công tác</th>
                            <th th:if="${showColumn == 'Phase3'}">Giảng viên phản biện 1</th>
                            <th th:if="${showColumn == 'Phase3'}">Nơi công tác</th>
                            <th th:if="${showColumn == 'Phase3'}">Giảng viên phản biện 2</th>
                            <th th:if="${showColumn == 'Phase3'}">Nơi công tác</th>
                            <th th:if="${showColumn == 'Phase3'}">Trang thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.getStudentID()}"></td>
                            <td  style="white-space: nowrap" th:text="${student.getName()}"></td>
                            <td  style="white-space: nowrap" th:text="${student.getDateOfBirth()}"></td>
                            <td  th:text="${student.dtbc}"></td>
                            <td  th:text="${student.getThesistopics()}"></td>
                            <td th:if="${showColumn == 'Phase2' || showColumn == 'Phase3'}" th:text="${student.newTopics}"></td>
                            <td  th:text="${student.getNamelecturer()}"></td>
                            <td th:text="${student.getUniversity()}"></td>
                            <td th:if="${showColumn == 'Phase3'}" th:text="${student.lecturerReviewer}"></td>
                            <td th:if="${showColumn == 'Phase3'}" th:text="${student.lecturerReviewerWorkplace}"></td>
                            <td th:if="${showColumn == 'Phase3'}" th:text="${student.secondLecturerReviewer}"></td>
                            <td th:if="${showColumn == 'Phase3'}" th:text="${student.secondLecturerReviewerWorkplace}"></td>
                            <td th:if="${showColumn == 'Phase3'}" th:text="${student.status}"></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>